{% extends 'layout.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <br>
    <div class="alert alert-primary" role="alert">
        Nombre de PFE par entreprise:
    </div>
    <div class="row">
        {% for entreprise in stats %}
            <div class="card text-white bg-{%if(loop.index is odd)%}warning{% else %}danger{% endif %} m-2 col-3" style="max-width: 18rem;">
                <div class="card-header">{{ entreprise['designation'] }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ entreprise[1] }} Pfe(s)</h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}